<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Application React</title>
        <script type="text/javascript" src="http://localhost/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- LOADING BEFORE REACT -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/holdOn/src/css/HoldOn.min.css">
        <script type="text/javascript" src="http://localhost/bower_components/holdOn/src/js/HoldOn.min.js"></script>
        <!-- END LOADING BEFORE REACT -->

        <!-- FRAMEWORK -->
        <script type="text/javascript" src="http://localhost/bower_components/react/react.min.js"></script>
        <script type="text/javascript" src="http://localhost/bower_components/react/react-dom.min.js"></script>
        <!-- END FRAMEWORK -->
        
        <!-- PROMISE -->
        <script type="text/javascript" src="http://localhost/bower_components/bluebird.min.js"></script>
        <!-- END PROMISE -->

        <!-- IMMUTABLE DATA -->
        <script type="text/javascript" src="http://localhost/bower_components/immutable/dist/immutable.min.js"></script>
        <!-- END IMMUTABLE DATA -->

        <!-- SEMANTIC CORE -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/semantic/dist/components/reset.css">
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/semantic/dist/components/site.css">
        <script type="text/javascript" src="http://localhost/bower_components/semantic/dist/components/site.js"></script>
        <!-- END SEMANTIC CORE -->

        <!-- GRID -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/semantic/dist/components/container.css">
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/semantic/dist/components/grid.css">
        <!-- END GRID -->

        <!-- FORM -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/semantic/dist/components/form.css">
        <!-- END FORM -->

        <!-- SEGMENT -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/semantic/dist/components/segment.css">
        <!-- END SEGMENT -->

        <!-- BUTTON -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/semantic/dist/components/button.css">
        <!-- END BUTTON -->

        <!-- CANVAS -->
        <script type="text/javascript" src="http://localhost/bower_components/konva/konva.min.js"></script>
        <!-- END CANVAS -->

        <!-- CAROUSEL -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.css">
        <script type="text/javascript" src="http://localhost/bower_components/owl.carousel.2.0.0-beta.2.4/owl.carousel.min.js"></script>
        <!-- END CAROUSEL -->

        <!-- RANGE SLIDER -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/rangeslider.js/dist/rangeslider.css">
        <script type="text/javascript" src="http://localhost/bower_components/rangeslider.js/dist/rangeslider.min.js"></script>
        <!-- END RANGE SLIDER -->

        <!-- FILE INPUT -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/jquery-filestyle-1.5.1/src/jquery-filestyle.css">
        <script type="text/javascript" src="http://localhost/bower_components/jquery-filestyle-1.5.1/src/jquery-filestyle.js"></script>
        <!-- END FILE INPUT -->

        <!-- DROPDOWN -->
        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/semantic/dist/components/dropdown.css">
        <script type="text/javascript" src="http://localhost/bower_components/semantic/dist/components/dropdown.js"></script>
        <!-- END DROPDOWN -->

        <link rel="stylesheet" type="text/css" href="http://localhost/bower_components/custom.css">
</head>
<body>
        <div id="app"></div>
        <script type="text/javascript" src="client/build/bundle.js"></script>
</body>
</html>